body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    text-align: center;
    /* padding: 20px; */
    height: 95vh; 
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Hide overflow so no scrollbar */
}

.container {
    /* width: 50%; */
    /* min-width: 300px; */
    /* max-width: 800px; */
    margin: auto;
    background: white;
    padding: 20px;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* Adjust width and padding for smaller devices */
    box-sizing: border-box;
}

h1 {
    color: #1d1d1d;
    font-size: 30px; /* Adjust font size for smaller devices */
}

p {
    color: #6D6875;
    font-size: 18px; /* Adjust font size for smaller devices */
}

p.error {
    color: #6D6875; /* This color will be used in error.html */
}

img.logo {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        height: 83vh; /* 83% for mobile because search bar */
    }
    h1 {
        font-size: 22px;
    }
    p {
        font-size: 14px;
    }
}
